// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #1c1e26;
$primary-invert: findColorInvert($primary);
$secondary: #d1a701;
$secondary-invert: findColorInvert($secondary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
        "white": ($white, $black),
        "black": ($black, $white),
        "light": ($light, $light-invert),
        "dark": ($dark, $dark-invert),
        "primary": ($primary, $primary-invert),
        "info": ($info, $info-invert),
        "success": ($success, $success-invert),
        "warning": ($warning, $warning-invert),
        "danger": ($danger, $danger-invert),
        "twitter": ($twitter, $twitter-invert),
        "secondary": ($secondary, $secondary-invert)
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Tabs
$tabs-toggle-link-active-color: $secondary-invert;
$tabs-toggle-link-active-background-color: $secondary;
$tabs-toggle-link-active-border-color: $secondary;
$tabs-toggle-link-hover-background-color: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";