body { overflow: hidden }

.wrapper {
    background-color: #1c1e26 !important;
    padding-bottom: 20rem;
    height: 100%;
}

.transparent {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 7px;
    padding: 1.5rem;
}

.logo {
    padding-bottom: 2rem;
}

.logo img {
    height: auto;
    width: auto;
    max-width: 10em;
    max-height: 10em;
}

.center-container {
    position: relative;
}

.absolute-center {
    width: 50%;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

